body{
    background-color: #578CB5;
}

div{
    text-align: center;
    padding-top: 8%;
}

table{
    padding-left: 40%;
}

img{
    height: 304px;
}

span{
    color: white;
}

h1{
    color: white;
}