body{
    background-color: #FAF0E6;
}

div{
    text-align: center;
    padding-top: 3.5cm;
}

table{
    padding-left: 21.75cm;
}

img{
    height: 400px;
}

span{
    color: #aca190;
}

h1{
    color: #aca190;
}